registry=http://localhost:8081/repository/npm-group/  #Nexus URL (private)
_auth=Z2FtbzprYWs3Nzc3Nzc3Nw== ##echo -n 'user:password'| openssl base64
email=gamo@gmail.com #email
always-auth=true
init.author.name=gamo
init.author.email=gamo@gmail.com